CIP Project Import MariaDB A.ipynb <br>
Author: Esin Handenur Isik

In [ ]:
import mariadb
import sys
import pandas as pd


# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="cip_user",
        password="cip_pw",
        host="127.0.0.1",                    
        port=3306, 
        database="CIP"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [ ]:
cur

In [ ]:
create_table = '''
CREATE TABLE LifeTimeGross_stage3( 
    Revenue_Rank INT, 
    Profit_Rank INT, 
    Title VARCHAR(255) PRIMARY KEY, 
    Budget BIGINT, 
    Gross_Revenue BIGINT, 
    RB_Ratio FLOAT, 
    Gross_Profit BIGINT, 
    Year INT
);
'''

try:
    cur.execute(create_table)
except mariadb.Error as e:
    print(f"Error: {e}")

In [ ]:
df = pd.read_csv("../Data/A_stage3.csv")
df = df.fillna(0)

In [ ]:
insert_df = '''INSERT INTO LifeTimeGross_stage3 (
Revenue_Rank, Profit_Rank, Title, Budget, 
Gross_Revenue, RB_Ratio, Gross_Profit, Year) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''

with cur:
    for index, row in df.iterrows():
        try:
            cur.execute(insert_df, tuple(row))
        except mariadb.Error as e:
            print(f"Error: {e}")
            
    conn.commit()

In [ ]:
# Close Connection
conn.close()