### Impurify data


At least 10 impurities per 100 observations or > 20 impurities for more than 200 observations.

The scraped data already includes some impurities. And since these impurities include mostly a whole column or even more parts of the dataframe, it should be enough. However, there will still be some added impurities so that there are enough different things that need to be cleaned up. 

Already existing impurities: 

- {""} in the Character_name columns
- Sometimes ; in the end of a value
- Names within character_name have []
- There is not only one film_title column but 4. This needs to be separated.

Added impurities: 

- random generated doubles of rows
- change the order for the entries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_B_stage1 = pd.read_csv("../Data/B_stage1.csv", delimiter = ",")

In [3]:
df_B_stage1

,award_year,category,name1,name2,name3,film_title,character_name,film_title2,character_name2,film_title3,character_name3,film_title4,character_name4,honorary_statement,description,note
0,1927/28 (1st),ACTOR,Emil Jannings,NaN,NaN,The Last Command,"{""General Dolgorucki [Grand Duke Sergius Alexa...",The Way of All Flesh,"{""August Schilling""}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1927/28 (1st),ACTRESS,Janet Gaynor,NaN,NaN,7th Heaven,"{""Diane""};",Street Angel,"{""Angela""};",Sunrise,"{""The Wife""}",NaN,NaN,NaN,NaN,NaN
2,1927/28 (1st),ART DIRECTION,William Cameron Menzies,NaN,NaN,The Dove;,NaN,Tempest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1927/28 (1st),CINEMATOGRAPHY,Charles Rosher,Karl Struss,NaN,Sunrise,NaN,Sunrise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[NOTE: For this awards year, awards were prese..."
4,1927/28 (1st),DIRECTING (Comedy Picture),Lewis Milestone,NaN,NaN,Two Arabian Knights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584,2022 (95th),HONORARY AWARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,NaN
2585,2022 (95th),GORDON E. SAWYER AWARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iain Neil,NaN,NaN
2586,2022 (95th),SCIENTIFIC AND TECHNICAL AWARD (Scientific and...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"To LARRY BARTON for the pioneering design, dev...",The CineTape distance measurement system provi...,NaN
2587,2022 (95th),SCIENTIFIC AND TECHNICAL AWARD (Technical Achi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To HOWARD JENSEN and DANNY CANGEMI for the con...,The Rain Bars provide a portable system for th...,NaN
2588,2022 (95th),AWARD OF COMMENDATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,To Ryan Laney for his innovative adaptation an...,NaN,NaN

#### 1. Create Duplicates

Create some random duplicates for 2.5% of the dataframe. Save this to the B_stage2 variable.

In [4]:
duplicate_count = int(len(df_B_stage1) * 0.025)
duplicate_count            #would be 64

rows_to_duplicate = df_B_stage1.sample(n=duplicate_count, replace=True)
B_stage2 = pd.concat([df_B_stage1, rows_to_duplicate], ignore_index=True)
B_stage2

,award_year,category,name1,name2,name3,film_title,character_name,film_title2,character_name2,film_title3,character_name3,film_title4,character_name4,honorary_statement,description,note
0,1927/28 (1st),ACTOR,Emil Jannings,NaN,NaN,The Last Command,"{""General Dolgorucki [Grand Duke Sergius Alexa...",The Way of All Flesh,"{""August Schilling""}",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1927/28 (1st),ACTRESS,Janet Gaynor,NaN,NaN,7th Heaven,"{""Diane""};",Street Angel,"{""Angela""};",Sunrise,"{""The Wife""}",NaN,NaN,NaN,NaN,NaN
2,1927/28 (1st),ART DIRECTION,William Cameron Menzies,NaN,NaN,The Dove;,NaN,Tempest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1927/28 (1st),CINEMATOGRAPHY,Charles Rosher,Karl Struss,NaN,Sunrise,NaN,Sunrise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[NOTE: For this awards year, awards were prese..."
4,1927/28 (1st),DIRECTING (Comedy Picture),Lewis Milestone,NaN,NaN,Two Arabian Knights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648,2019 (92nd),ACTOR IN A LEADING ROLE,Joaquin Phoenix,NaN,NaN,Joker,"{""Arthur Fleck""}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649,1968 (41st),WRITING (Story and Screenplay--written directl...,Mel Brooks,NaN,NaN,The Producers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2650,1955 (28th),CINEMATOGRAPHY (Black-and-White),James Wong Howe,NaN,NaN,The Rose Tattoo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2651,1946 (19th),CINEMATOGRAPHY (Color),"Charles Rosher, Leonard Smith, Arthur Arling",NaN,NaN,The Yearling,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2652,1953 (26th),MUSIC (Scoring of a Musical Picture),Alfred Newman,NaN,NaN,Call Me Madam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2. Shuffle the order in the dataframe

In [5]:
B_stage2 = B_stage2.sample(frac=1).reset_index(drop=True)

B_stage2

,award_year,category,name1,name2,name3,film_title,character_name,film_title2,character_name2,film_title3,character_name3,film_title4,character_name4,honorary_statement,description,note
0,1989 (62nd),DIRECTING,Oliver Stone,NaN,NaN,Born on the Fourth of July,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1957 (30th),MUSIC (Scoring),Malcolm Arnold,NaN,NaN,The Bridge on the River Kwai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992 (65th),VISUAL EFFECTS,"Ken Ralston, Doug Chiang, Doug Smythe, Tom Woo...",NaN,NaN,Death Becomes Her,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001 (74th),SHORT FILM (Live Action),"Ray McKinnon, Lisa Blount",NaN,NaN,the accountant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014 (87th),ACTOR IN A SUPPORTING ROLE,J.K. Simmons,NaN,NaN,Whiplash,"{""Fletcher""}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648,1942 (15th),MUSIC (Song),Music and Lyrics by Irving Berlin,NaN,NaN,Holiday Inn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2649,2019 (92nd),ACTOR IN A LEADING ROLE,Joaquin Phoenix,NaN,NaN,Joker,"{""Arthur Fleck""}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2650,2019 (92nd),ANIMATED FEATURE FILM,"Josh Cooley, Mark Nielsen and Jonas Rivera",NaN,NaN,Toy Story 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2651,1935 (8th),WRITING (Original Story),"Ben Hecht, Charles MacArthur",NaN,NaN,The Scoundrel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2652,2011 (84th),ACTOR IN A LEADING ROLE,Jean Dujardin,NaN,NaN,The Artist,"{""George Valentin""}",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Export to csv file B_stage2.csv

In [6]:
B_stage2 = B_stage2.to_csv("../Data/B_stage2.csv", index = False)